* {

  -webkit-appearance: none;
}

article {
  margin: 0 auto 50px;
  min-height: 700px;
}

body {
  font: 16px/1 Calibri, Helvetica, Arial, sans-serif;
  min-width: 1162px;
}


h1{
    font-size: 30px;
    font-weight: normal;
}

h2{
    font-size: 30px;
    line-height: 40px;
    width: 400px;
    margin: 20px 0 0 280px;
}

  /******************/
 /****  HEADER  ****/
/******************/

header {
  background-color:#444;
  color: #eee;
  text-align: center;
  display:block;

}
header #title{
    background-color: #000;
    padding-top:28px;
    padding-bottom:29px;
}
header a{
  color:#FFF;
  text-decoration:none;
}
header a:hover{
    color:#DDD
}
nav {
    float: left;
    padding: 35px;
}
  /*************************/
 /****   LOOKUP FORM   ****/
/*************************/
#itemLookup > fieldset {
  border: 0;
  padding: 20px;
  text-align: center;
}

#itemLookup input {
  border: 1px solid transparent;
  padding: 5px;
  font-size: 30px;
}

#itemLookup input[type="text"] {
  border-color: #ccc;
}

#itemLookup input[type="text"]:focus {
  background-color: #ffc;
  outline: 0;
}

#itemLookup input[type="submit"] {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#666),
    to(#222)
  );
  color: #eee;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  cursor: pointer;
}
#itemLookup input[type="submit"]:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#555),
    to(#111)
  );
}

#itemLookup a {
  position: relative;
  top: -35px;
  right: 160px;
  color: black;
  text-decoration: none;
  float: right;
}
#itemLookup a:hover{
  color:#000;
}

  /********************/
 /****   LOGOUT   ****/
/********************/
#logout {
    float:right;
    padding: 35px;
}
#logout > a:hover{
  color:#F77;
}


  /******************************/
 /****   DELETE COMPLETED   ****/
/******************************/
#delete_completed {
  float:right;
  padding: 35px;
}
#delete_completed > a {
  text-decoration: underline;
  font-weight: bold;
}

#delete_completed > a:hover{
  color:#F77;
}


  /**************************/
 /****   ITEM DETAILS   ****/
/**************************/

#item_actions fieldset {
  border:none;
}

#item_details {
  text-decoration: none;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  width: 200px;
  margin: 1px 10px;
  border-radius: 5px;
  background-image: -webkit-gradient( linear, left top, left bottom, from( #dddddd), to( #bbbbbb) );
  color: black;
  padding: 10px;
}

#comments{
  height:150px;
  width:195px;
}

#product_materials{
  width:195px;
}
div#item_details input#done {
  margin-left:10px;
}

  /***********************/
 /****   SAVE ITEM   ****/
/***********************/
#save{
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  width: 200px;
  margin: 10px 0px;
  border-radius: 5px;
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  from( #00F770),
  to( #00F440)
  );
  color:#FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
#save:hover{
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  from( #00F550),
  to( #00F220)
  );
  text-shadow: 0 -1px 0 rgba(10,10,10,0.5);
}


  /********************/
 /****   DELETE   ****/
/********************/
#delete{
    text-decoration: none;
    display:inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    width: 200px;
    margin: 10px 0px;
    border-radius: 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from( #F77),
        to( #F44)
    );
    color:#FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
#delete:hover{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from( #F55),
        to( #F22)
    );
    text-shadow: 0 -1px 0 rgba(10,10,10,0.5);
}

  /***************************/
 /****   NOTIFICATIONS   ****/
/***************************/
#messaging {
  height: 0;
  line-height: 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0,0,0,0.5)),
    color-stop(10%, rgba(0,0,0,0))
  );
  opacity: 0;
  text-align: center;
  -webkit-transition-property: height, opacity, background-color;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
}

#messaging.error,
#messaging.success {
  height: 30px;
  opacity: 1;
}

#messaging.error {
  color: #900;
  background-color: #f99;
}

  /***********************/
 /****   ITEMSLIST  ****/
/*********************/

#itemsUl{
  list-style: none;
  margin: 20px;
}

#itemsUl > li{
  margin:3px 0;
  border:none;
  padding: 5px 20px;
  border-bottom: solid gray 2px;
/*  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eee),
    to(#ddd)
  );*/
}

#itemsUl > li:hover{

}

#itemsUl > li:first-child, li:first-child:hover {
    color: white;
    font-size: 24px;
    line-height: 30px;
    border:none;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#666),
    to(#222)
  );
}
#itemsUl a {
  display:block;
  text-decoration: none;
  color: #000;
  font-size:30px;
}
#itemsUl span{
    width: 350px;
    display: inline-block;
}
#itemsUl span.done{
  width: 100px;
}

#itemsUl > li:first-child a{
    display:inline;
    color:#FFF;
}
#itemsUl > li:first-child a:hover{
    text-decoration: underline;
}

input#done {
  -webkit-appearance: checkbox;
  margin-left: 30px;
}