<form id="itemLookup" method="get">
  <fieldset>
    <%= text_field_tag :itemNumber, params[:n], :placeholder => 'Enter Item #' %>
    <input type="submit" value="Go">
  </fieldset>
</form>

<div id="container"></div>