<h2>All Items</h2>
<%= link_to '', url_for(:controller => "home", :action => "item"), :id=>"search", :title=>"Search" %>

<ul id="itemsUl">
  <% @items.each do |item|  %>
    <li>
      <%= link_to item, :controller => "home", :action => "item", :id=> item %>
    </li>
  <% end %>
</ul>