<form id="itemLookup" method="get">
  <fieldset>
    <%= text_field_tag :itemNumber, params[:n], :placeholder => 'Enter Item #', :value => @id %>
    <input type="submit" value="Go">
  </fieldset>
  <%= link_to "See All", :controller => "home", :action => "index"%>
  <%= link_to "Delete", url_for(:controller => 'home', :action => 'delete', :id => @id), :id => "delete", :style => 'display:none;' %>

</form>
<div id="container"></div>