<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title>Snap!</title>
  <%= stylesheet_link_tag :all %>
</head>
  <body>
    <header>
      <h1>Snap!</h1>
      <a id="logout" href="#">Logout</a>
    </header>
    <div id="messaging"></div>
    <article><%= yield %></article>
    <%= javascript_include_tag 'jquery.min', 'slideViewerPro.1.0', 'application' %>
  </body>
</html>
